#comic {
    color: #2b2b7a;
    position: relative;

    .top {
    background-image: linear-gradient($primary-blue 50px, #fcfcfc 10px);
    padding-top: 100px;
    padding-bottom: 50px;
    
    img {
        width: 80%;
    };

    .text {
        flex-basis: 70%;

        h1 {
            margin-bottom: 20px;
        }
     }

        strong {
            font-size: 0.8rem;
            align-self: flex-end;
            margin-bottom: 5px;
            color: #808080;
        }

     

     .details{
        height: 50px;
        background-color: #3cb93c;
        margin-bottom: 10px;
        border-bottom: 1px solid #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        color: #fff;

        strong {
            color: #2b2b7a;
            font-size: 1.2rem;
        }
        
        .availability {
            text-align: end;
        }
     }
    }
}