main {
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 30px;
  
    .container {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
    }
    .comic-card {
      margin: 20px;
      padding: 20px;
      width: calc(100% / 6 - 40px);
      min-height: 250px;
      box-shadow: 1px 3px 10px 5px #6b6a6a;

        a {
          color: #000000;
        }
  
        
      }
    
  }
  